* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-contacts {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin: 10rem 0;
    /* border: 1px solid #895656; */
}

.contacts {
    width: 40%;
    /* border: 1px solid #eee; */
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.form {
    width: 40%;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* border: 1px solid #eee; */


}


.contacts-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    padding: 15px 0;
    gap: 10px;
    /* border: 1px solid #eeeeee55; */

}

.contacts-item p{
    font-size: 18px;
    margin-left: 3rem;

}

.input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #eeeeee55;
    color: #eee;
}

textarea {
    margin: 10px 0;
    padding: 30px 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #eeeeee55;
    width: 100%;
    
}

textarea:focus {
    outline: none;
    background-color: #1e1e1e;
    color: #eee;
}

.input:focus {
    outline: none;
    background-color: #1e1e1e;
    color: #eee;
}

.input:hover {
    color: #ffffff;
}


input:hover::placeholder {
    color: #ffffff;
}

textarea:hover::placeholder {
    color: #ffffff;
}

textarea::placeholder {
    font-size: 16px;
    color: #acacac;
}

input::placeholder {
    font-size: 16px;
    color: #acacac;
}
 

.btn {
    margin: 10px 0;
    background-color: #3d3d3d;
    border-radius: 1px;
    padding: 10px 3px;
    border: none;
    color: #000000;
    width: 100%;
      
}



.btn span {
    font-size: 20px;
    font-weight: 450;
}

.btn:hover {
    background-color: #5c5c5c;
    
}

.fa-icon {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff74;
}

.container h1 {
    font-size: 66px;
    background-color: #1a1a1a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.title {
    font-size: 66px;
    background-color: #1a1a1a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}



@media screen and (max-width: 1024px) and (min-width: 200px) {
    .container-contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .contacts {
        width: 90%;
        /* border: 1px solid #eee; */
        padding: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin: 50px 0;
    
    }

    .form {
        width: 90%;
        /* border: 1px solid #eee; */
        padding: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .contacts-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 15px 15px;
        gap: 10px;
        
        /* border: 1px solid #eeeeee55; */
    
    }

    .contacts-item p{
        font-size: 15px;
        margin-left: 10px;
    
    }

    .fa-icon {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contacts h3 {
        margin: 50px 0;
        font-size: 2rem;
    }

    .form h3 {
        margin: 50px 0;
        font-size: 2rem;
    }
    
} 
    

